body {
    font-family: Tahoma;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    background:url("image/bg.png");
    height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center
}

.container {
    width: 350px;
    margin: 0 auto;
    padding: 5%;
    border: auto solid #ddd;
    border-radius: 50px;
    background-color: #7f6e03c8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

h1 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 5px;
    color: #5ded40;
}

p {
    margin-bottom: 15px;
}


label {
    display: block;
    margin-bottom: 5px;
}

input[type="email"],
input[type="text"] {
    display: block;
    width: 75%;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
}

button {
    background-color: #84e639;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #444;
}

.link-to-login {
    text-align: left;
    margin-top: 15px;
}

.link-to-login a {
    color: #333;
    text-decoration: none;
}

.link-to-login a:hover {
    text-decoration: underline;
}
